@page "/admin/schema/object-types/{Id:int}"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>Metaverse Object Type: @_metaverseObjectType?.Name</PageTitle>
<MudText Typo="Typo.h4"><span class="mud-secondary-text">Metaverse Object Type:</span> @_metaverseObjectType?.Name</MudText>
<MudBreadcrumbs Items="_breadcrumbs" Class="ps-0"></MudBreadcrumbs>

@if (_metaverseObjectType != null)
{
    <MudText Typo="Typo.h5" Class="mt-5">Details</MudText>
    <MudPaper Class="pa-5 mt-5" Outlined="true">
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Name" Variant="Variant.Outlined">@_metaverseObjectType.Name</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Plural Name" Variant="Variant.Outlined">@_metaverseObjectType.PluralName</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Created" Variant="Variant.Outlined">@_metaverseObjectType.Created</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Built-in?" Variant="Variant.Outlined">@(_metaverseObjectType.BuiltIn ? "Yes" : "No")</MudField>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudText Typo="Typo.h5" Class="mt-5">Attributes</MudText>
    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mt-2">These are the attributes bound to the metaverse object type:</MudText>

    <MudPaper Class="pa-5 mt-5 mb-5" Outlined="true">
        @foreach (var metaverseAttribute in _metaverseObjectType.Attributes)
        {
            <MudChip T="string" Variant="Variant.Filled" Color="Color.Primary">@metaverseAttribute.Name</MudChip>
        }
    </MudPaper>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private MetaverseObjectType? _metaverseObjectType;
    private List<BreadcrumbItem> _breadcrumbs = null!;

    protected override async Task OnInitializedAsync()
    {
        _metaverseObjectType = await Jim.Metaverse.GetMetaverseObjectTypeAsync(Id, true);
        if (_metaverseObjectType == null)
        {
            // object type not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }

        _breadcrumbs = new List<BreadcrumbItem>
        {
            new("Home", href: "/", icon: Icons.Material.Filled.Home),
            new("Schema", href: "/admin/schema/"),
            new(_metaverseObjectType.Name, href: null, disabled: true)
        };
    }
}