@page "/admin/predefined-searches"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Search.DTOs
@inject JimApplication Jim

<PageTitle>Predefined Searches</PageTitle>
<MudText Typo="Typo.h4">Predefined Searches</MudText>
<MudBreadcrumbs Items="_breadcrumbs" Class="ps-0"></MudBreadcrumbs>
<MudText Typo="Typo.subtitle1" Class="mud-text-secondary">Predefined Searches make it easy to find objects and control what attributes are returned.</MudText>

<MudSimpleTable Style="overflow-x: auto;" Hover="true" Bordered="false" Striped="false" Class="mt-5" Outlined="true" Elevation="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Uri</th>
            <th>Object Type</th>
            <th>Default?</th>
            <th>Built-in?</th>
            <th>Attributes</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @if (_predefinedSearchHeaders != null)
        {
            foreach (var predefinedSearchHeader in _predefinedSearchHeaders)
            {
                <tr>
                    <td><MudLink Href="@("/admin/predefined-searches/"+predefinedSearchHeader.Uri)">@predefinedSearchHeader.Name</MudLink></td>
                    <td>@predefinedSearchHeader.Uri</td>
                    <td>@predefinedSearchHeader.MetaverseObjectTypeName</td>
                    <td>@(predefinedSearchHeader.IsDefaultForMetaverseObjectType ? "Yes" : "No")</td>
                    <td>@(predefinedSearchHeader.BuiltIn ? "Yes" : "No")</td>
                    <td>@predefinedSearchHeader.MetaverseAttributeCount</td>
                    <td>@predefinedSearchHeader.Created</td>
                </tr>
            }
        }
    </tbody>
</MudSimpleTable>

@code {
    private IList<PredefinedSearchHeader>? _predefinedSearchHeaders;
    private readonly List<BreadcrumbItem> _breadcrumbs = new List<BreadcrumbItem>
    {
        new("Home", href: "/", icon: Icons.Material.Filled.Home),
        new("Predefined Searches", href: null, disabled: true)
    };

    protected override async Task OnInitializedAsync()
    {
        _predefinedSearchHeaders = await Jim.Search.GetPredefinedSearchHeadersAsync();
    }
}
