@page "/admin/schema"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@using JIM.Models.Core.DTOs
@inject JimApplication Jim

<PageTitle>Schema: Object Types</PageTitle>
<MudText Typo="Typo.h4"><span class="mud-secondary-text">Schema:</span> Object Types</MudText>
<MudBreadcrumbs Items="breadcrumbs" Class="ps-0"></MudBreadcrumbs>
<MudText Typo="Typo.subtitle1" Class="mud-text-secondary">Manage metaverse object types and their attributes.</MudText>

<MudPaper Elevation="0" Class="mt-5" Outlined="true">
    <MudToolBar>
        <MudButton Href="/admin/schema" Color="Color.Primary" DisableElevation="true" Disabled="true">Object Types</MudButton>
        <MudButton Href="/admin/schema/attributes" Color="Color.Primary" DisableElevation="true">Attributes</MudButton>
        <MudSpacer />
    </MudToolBar>
</MudPaper>

<MudTable Items="@metaverseObjectTypeHeaders" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" Class="mt-5" SortLabel="Sort By" Outlined="true" Elevation="0">
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.Name)">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.AttributesCount)">Attributes</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.HasPredefinedSearches)">Has Predefined Searches?</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.BuiltIn)">Built-in?</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.Created)">Created</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name"><MudLink Href="@("/admin/schema/object-types/"+context.Id)">@context.Name</MudLink></MudTd>
        <MudTd DataLabel="Attributes">@context.AttributesCount</MudTd>
        <MudTd DataLabel="Has Predefined Searches?">@(context.HasPredefinedSearches ? "Yes" : "No")</MudTd>
        <MudTd DataLabel="Built-in?">@(context.BuiltIn ? "Yes" : "No")</MudTd>
        <MudTd DataLabel="Created">@context.Created</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private IList<MetaverseObjectTypeHeader>? metaverseObjectTypeHeaders;
    private List<BreadcrumbItem> breadcrumbs = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "/", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Schema", href: null, disabled: true)
    };

    protected override async Task OnInitializedAsync()
    {
        metaverseObjectTypeHeaders = await Jim.Metaverse.GetMetaverseObjectTypeHeadersAsync();
    }
}