@using JIM.Models.Core
@using JIM.Models.Logic
@using JIM.Models.Search
@using JIM.Models.Staging
@using JIM.Utilities

<MudPaper Class="pa-4 mt-5" Outlined="true">

    <MudGrid Spacing="0">
        <MudItem xs="6">
            <MudText Typo="Typo.overline"><span class="mud-text-secondary">CRITERIA GROUP. LOGIC TYPE:</span> @SyncRuleScopingCriteriaGroup.Type.ToString().SplitOnCapitalLetters().ToUpper()</MudText>
        </MudItem>
        <MudItem xs="6" Class="d-flex align-center justify-end">
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" DropShadow="false" aria-label="delete" OnClick="@(() => HandleScopingCriteriaGroupDeleteClick(SyncRuleScopingCriteriaGroup))"></MudIconButton>
        </MudItem>
    </MudGrid>

    <MudButton StartIcon="@Icons.Material.Filled.Add"
               Variant="Variant.Filled"
               Class="me-3"
               OnClick="HandleOpenAddCriteriaGroupDialog"
               DropShadow="false">Add Criteria Group</MudButton>

    <MudButton StartIcon="@Icons.Material.Filled.Add"
               Variant="Variant.Filled"
               OnClick="HandleShowAddCriteriaDialogButtonClick"
               DropShadow="false">Add Criteria</MudButton>

    @if (SyncRuleScopingCriteriaGroup.ChildGroups.Count == 0 && SyncRuleScopingCriteriaGroup.Criteria.Count == 0)
    {
        <MudAlert Severity="Severity.Info" Class="mt-5">Add your first criteria...</MudAlert>
    }

    @foreach (var criteria in SyncRuleScopingCriteriaGroup.Criteria)
    {
        <div class="mt-5">
            <MudChip T="string">
                <AvatarContent>
                    @if (criteria.MetaverseAttribute != null)
                    {
                        <MudTooltip Text="Metaverse Attribute">
                            <MudAvatar>MV</MudAvatar>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="Connected System Attribute">
                            <MudAvatar>CS</MudAvatar>
                        </MudTooltip>
                    }
                </AvatarContent>
                <ChildContent>@criteria.GetAttributeName()</ChildContent>
            </MudChip>
            <MudChip T="string">@criteria.ComparisonType.ToString().SplitOnCapitalLetters()</MudChip>
            <MudChip T="string">@criteria.ToString()</MudChip>
            <MudIconButton 
                Icon="@Icons.Material.Filled.Delete" 
                Variant="Variant.Filled"
                DropShadow="false"
                Size="Size.Small" 
                aria-label="delete"
                OnClick="@(() => HandleDeleteCriteria(criteria))"></MudIconButton>
        </div>
    }

    @foreach (var criteriaGroup in SyncRuleScopingCriteriaGroup.ChildGroups)
    {
        <SyncRuleDetailScopingCriteriaGroup SyncRule="SyncRule" SyncRuleScopingCriteriaGroup="criteriaGroup" SyncRuleChanged="HandleStateHasChanged" SyncRuleScopingCriteriaGroupChanged="HandleStateHasChanged" />
    }

    <!-- this needs to move to a component and for SyncRuleDetail to use it as well, to avoid duplication. -->
    <MudDialog @bind-Visible="_addCriteriaGroupDialogVisible" Options="_dialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.AccountTree" Class="mr-3" /> Add Criteria Group
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudSelect T="string"
                       Label="Please choose a group type"
                       Required="true"
                       Variant="Variant.Outlined"
                       @bind-Value="_criteriaGroupTypeText">
                @foreach (var type in Enum.GetValues(typeof(SearchGroupType)))
                {
                    <MudSelectItem Value="@type.ToString()" />
                }
            </MudSelect>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       OnClick="HandleAddCriteriaGroupButtonClick"
                       Disabled="DisableAddCriteriaGroupFormButton()"
                       DropShadow="false"
                       Class="ma-4">Add Group</MudButton>
        </DialogActions>
    </MudDialog>

</MudPaper>

<MudDialog @bind-Visible="_addCriteriaDialogVisible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Compare" Class="mr-3" /> Add Criteria
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_newSyncRuleScopingCriteria != null)
        {
            <MudSelect T="MetaverseAttribute"
                       @bind-Value="_newSyncRuleScopingCriteria.MetaverseAttribute"
                       Label="Metaverse Attribute"
                       Placeholder="Please select a Metaverse attribute"
                       Required="true"
                       Class="mt-5"
                       Variant="Variant.Outlined">
                @foreach (var metaverseAttribute in SyncRule.MetaverseObjectType.Attributes)
                {
                    <MudSelectItem Value="@metaverseAttribute">@(metaverseAttribute.Name)</MudSelectItem>
                }
            </MudSelect>
        }

        <MudSelect T="string"
                    Label="Comparison Type"
                    Placeholder="Please select the type of comparison to make"
                    Required="true"
                    ValueChanged="HandleComparisonTypeSelection"
                    Class="mt-5"
                    Variant="Variant.Outlined">
            @foreach (SearchComparisonType searchComparisonType in Enum.GetValues(typeof(SearchComparisonType)))
            {
                if (searchComparisonType == SearchComparisonType.NotSet)
                    continue;

                <MudSelectItem Value="@searchComparisonType.ToString()">@searchComparisonType.ToString().SplitOnCapitalLetters()</MudSelectItem>
            }
        </MudSelect>

        @if (_newSyncRuleScopingCriteria is { MetaverseAttribute: not null })
        {
            @switch (_newSyncRuleScopingCriteria.MetaverseAttribute.Type)
            {
                case AttributeDataType.Text:
                    <MudTextField @bind-Value="_newSyncRuleScopingCriteria.StringValue" Required="true" Label="Text Value" Variant="Variant.Outlined" Class="mt-5"></MudTextField>
                    break;
                case AttributeDataType.Guid:
                    <MudTextField @bind-Value="_newSyncRuleScopingCriteria.GuidValue" Required="true" Label="Guid Value" Variant="Variant.Outlined" Class="mt-5"></MudTextField>
                    break;
                case AttributeDataType.Number:
                    <MudNumericField @bind-Value="_newSyncRuleScopingCriteria.IntValue" Label="Number Value" Variant="Variant.Outlined" Class="mt-5" />
                    break;
                case AttributeDataType.DateTime:
                    <MudDatePicker @bind-Date="_newSyncRuleScopingCriteria.DateTimeValue" Label="Date Value" Variant="Variant.Outlined" Class="mt-5" />
                    break;
                case AttributeDataType.Boolean:
                    <MudCheckBox @bind-Value="_newSyncRuleScopingCriteria.BoolValue" TriState="true" Class="mt-5" Label="Boolean Value">: @(!_newSyncRuleScopingCriteria.BoolValue.HasValue ? "Null" : _newSyncRuleScopingCriteria.BoolValue.ToString())</MudCheckBox>
                    break;
                case AttributeDataType.Reference:
                    <MudAlert Severity="Severity.Warning" Class="mt-5">Apologies, references are not yet supported here.</MudAlert>
                    break;
                case AttributeDataType.Binary:
                    <MudAlert Severity="Severity.Warning" Class="mt-5">Apologies, binary types are not yet supported here.</MudAlert>
                    break;
                case AttributeDataType.NotSet:
                default:
                    throw new ArgumentOutOfRangeException();
            }
        }

    </DialogContent>
    <DialogActions>
        <MudButton Disabled="DisableAddCriteriaButton()" Variant="Variant.Filled" DropShadow="false" Color="Color.Primary" OnClick="HandleAddCriteriaButtonClick" Class="ma-4">Add Criteria</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public SyncRule SyncRule { get; set; } = null!;

    [Parameter]
    public SyncRuleScopingCriteriaGroup SyncRuleScopingCriteriaGroup { get; set; } = null!;

    [Parameter]
    public EventCallback<SyncRule> SyncRuleChanged { get; set; }

    [Parameter]
    public EventCallback<SyncRuleScopingCriteriaGroup> SyncRuleScopingCriteriaGroupChanged { get; set; }

    private bool _addCriteriaGroupDialogVisible;
    private string? _criteriaGroupTypeText;
    private SyncRuleScopingCriteriaGroup? _newChildCriteriaGroup;

    private bool _addCriteriaDialogVisible;
    private DialogOptions _dialogOptions = new() { FullWidth = true };
    private SyncRuleScopingCriteria? _newSyncRuleScopingCriteria;

    private void HandleScopingCriteriaGroupDeleteClick(SyncRuleScopingCriteriaGroup syncRuleScopingCriteriaGroup)
    {
        // remove child reference and remove parent reference
        if (SyncRuleScopingCriteriaGroup.ParentGroup == null)
            SyncRule.ObjectScopingCriteriaGroups.Remove(syncRuleScopingCriteriaGroup);
        else
            SyncRuleScopingCriteriaGroup.ParentGroup.ChildGroups.Remove(SyncRuleScopingCriteriaGroup);

        SyncRuleChanged.InvokeAsync(SyncRule);
        SyncRuleScopingCriteriaGroupChanged.InvokeAsync(SyncRuleScopingCriteriaGroup);
    }

    private void HandleShowAddCriteriaDialogButtonClick()
    {
        _newSyncRuleScopingCriteria = new SyncRuleScopingCriteria();
        _addCriteriaDialogVisible = true;
    }

    /// <summary>
    /// Necessary to ensure state is bubbled up through any hierarchy of this control, so the UI is updated when groups are removed.
    /// </summary>
    private void HandleStateHasChanged()
    {
        SyncRuleChanged.InvokeAsync(SyncRule);
        SyncRuleScopingCriteriaGroupChanged.InvokeAsync(SyncRuleScopingCriteriaGroup);
    }

    private void HandleComparisonTypeSelection(string searchComparisonTypeName)
    {
        // convert to enum and assign
        // should never happen, but performing for linting reasons
        if (SyncRule == null || _newSyncRuleScopingCriteria == null)
            return;

        var searchComparisonType = (SearchComparisonType)Enum.Parse(typeof(SearchComparisonType), searchComparisonTypeName);
        _newSyncRuleScopingCriteria.ComparisonType = searchComparisonType;
    }

    private bool DisableAddCriteriaButton()
    {
        if (_newSyncRuleScopingCriteria == null)
            return true;

        if (_newSyncRuleScopingCriteria.MetaverseAttribute == null)
            return true;

        if (_newSyncRuleScopingCriteria.ComparisonType == SearchComparisonType.NotSet)
            return true;

        if (!_newSyncRuleScopingCriteria.IntValue.HasValue &&
            string.IsNullOrEmpty(_newSyncRuleScopingCriteria.StringValue) &&
            !_newSyncRuleScopingCriteria.BoolValue.HasValue &&
            !_newSyncRuleScopingCriteria.DateTimeValue.HasValue &&
            !_newSyncRuleScopingCriteria.GuidValue.HasValue)
            return true;

        return false;
    }

    private void HandleAddCriteriaButtonClick()
    {
        if (_newSyncRuleScopingCriteria == null)
            return;

        SyncRuleScopingCriteriaGroup.Criteria.Add(_newSyncRuleScopingCriteria);

        // all done, reset
        _addCriteriaDialogVisible = false;
        _newSyncRuleScopingCriteria = null;
    }

    private void HandleOpenAddCriteriaGroupDialog()
    {
        Console.WriteLine("HandleOpenAddCriteriaGroupDialog: Called");
        _newChildCriteriaGroup = new SyncRuleScopingCriteriaGroup
        {
            ParentGroup = SyncRuleScopingCriteriaGroup
        };
        _addCriteriaGroupDialogVisible = true;
    }

    private void HandleAddCriteriaGroupButtonClick()
    {
        Console.WriteLine("HandleAddCriteriaGroupButtonClick: Called");
        if (_newChildCriteriaGroup == null || _criteriaGroupTypeText == null)
            return;

        _newChildCriteriaGroup.Type = (SearchGroupType)Enum.Parse(typeof(SearchGroupType), _criteriaGroupTypeText);

        if (_newChildCriteriaGroup.ParentGroup == null)
        {
            // the current criteria group is a root-level one. there's nothing to do for this scenario.
        }
        else
        {
            // the current criteria group is a child group of another.
            // add the criteria group to the parent's children, i.e. make sure the relationships is established on both the parent and the new criteria group.
            _newChildCriteriaGroup.ParentGroup.ChildGroups.Add(_newChildCriteriaGroup);
        }

        // all done, reset
        _addCriteriaGroupDialogVisible = false;
        _newChildCriteriaGroup = null;
    }

    private bool DisableAddCriteriaGroupFormButton()
    {
        Console.WriteLine($"DisableAddCriteriaGroupFormButton: '{_criteriaGroupTypeText}'");
        return string.IsNullOrEmpty(_criteriaGroupTypeText);
    }

    private void HandleDeleteCriteria(SyncRuleScopingCriteria criteriaToDelete)
    {
        if (criteriaToDelete == null)
            return;

        SyncRuleScopingCriteriaGroup.Criteria.Remove(criteriaToDelete);
    }
}
