@page "/t/{TypeNameUrlParam}/v/{IdParam:guid}"
@attribute [Authorize(Roles = "Users")]
@using JIM.Application
@using JIM.Models.Core
@using Utilities;
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>@MetaverseObjectType?.Name: @_displayName</PageTitle>
<MudText Typo="Typo.h4"><span class="mud-secondary-text">@MetaverseObjectType?.Name:</span> @_displayName</MudText>
<MudBreadcrumbs Items="_breadcrumbs" Class="ps-0"></MudBreadcrumbs>

<MudPaper Class="pa-5 mt-5" Outlined="true">
    @if (MetaverseObject != null)
    {
        <MudGrid>
            @foreach (var attributeValue in MetaverseObject.AttributeValues)
            {
                <MudItem xs="12" sm="6" md="4">
                    <MudField Label="@attributeValue.Attribute.Name" Variant="Variant.Outlined">
                        @if (attributeValue.Attribute.Type == AttributeDataType.Text)
                        {
                            if (attributeValue.Attribute.Name == Constants.BuiltInAttributes.Email && !string.IsNullOrEmpty(attributeValue.StringValue))
                            {
                                <MudLink Href="@($"mailto:{attributeValue.StringValue}")">@attributeValue.StringValue</MudLink>
                            }
                            else
                            {
                                @attributeValue.StringValue
                            }
                        }
                        else if (attributeValue.Attribute.Type == AttributeDataType.Number)
                        {
                            @attributeValue.IntValue
                        }
                        else if (attributeValue.Attribute.Type == AttributeDataType.DateTime)
                        {
                            @attributeValue.DateTimeValue
                        }
                        else if (attributeValue.Attribute.Type == AttributeDataType.Guid)
                        {
                            @attributeValue.GuidValue.ToString()
                        }
                        else if (attributeValue.Attribute.Type == AttributeDataType.Boolean && attributeValue.BoolValue.HasValue)
                        {
                            @(attributeValue.BoolValue.Value ? "true" : "false")
                        }
                        else if (attributeValue.Attribute.Type == AttributeDataType.Reference && attributeValue.ReferenceValue != null)
                        {
                            <MudLink Href="@Utilities.GetMetaverseObjectHref(attributeValue.ReferenceValue)">@attributeValue.ReferenceValue.DisplayName</MudLink>
                        }
                    </MudField>
                </MudItem>
            }
        </MudGrid>
    }
</MudPaper>

@code {
    [Parameter]
    public string TypeNameUrlParam { get; set; } = null!;
    [Parameter]
    public Guid IdParam { get; set; }
    private MetaverseObject? MetaverseObject { get; set; }
    private MetaverseObjectType? MetaverseObjectType { get; set; }
    private string? _displayName;
    private List<BreadcrumbItem> _breadcrumbs = null!;

    protected override async Task OnParametersSetAsync()
    {
        var pluralName = Helpers.ConvertFromUrlParam(TypeNameUrlParam);
        MetaverseObjectType = await Jim.Metaverse.GetMetaverseObjectTypeByPluralNameAsync(pluralName, false);
        if (MetaverseObjectType == null)
        {
            NavManager.NavigateTo("/");
            return;
        }

        // get the metaverse object...
        MetaverseObject = await Jim.Metaverse.GetMetaverseObjectAsync(IdParam);
        if (MetaverseObject == null)
        {
            NavManager.NavigateTo("/");
            return;
        }

        _displayName = MetaverseObject.DisplayName;

        if (MetaverseObject.DisplayName != null)
            _breadcrumbs = new List<BreadcrumbItem>
            {
                new("Home", href: "/", icon: Icons.Material.Filled.Home),
                new(MetaverseObjectType.PluralName, href: $"/t/{MetaverseObjectType.PluralName.ToLower()}"),
                new(MetaverseObject.DisplayName, href: null, disabled: true)
            };
    }
}