@page "/admin/connected-systems/{Id:int}/{Name}"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@using JIM.Models.Core.Dto
@using JIM.Models.Staging.Dtos
@using JIM.Models.Staging;
@using JIM.Web.Models;
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>Connected System: @connectedSystem?.Name</PageTitle>
<h1><span class="text-muted">Connected System:</span> @connectedSystem?.Name</h1>

<p>Some aspects of a Connected System can only be configured once basic details and setting values have been provided.</p>

<ul class="nav nav-tabs mt-3">
    <li class="nav-item">
        <a class="nav-link @(showDetailsTab ? "active" : "")" aria-current="page" href="#">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(showSettingsTab ? "active" : "")" href="#">Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(showObjectTypesTab ? "active" : "") @(!settingsValidated ? "disabled" : "")" href="#">Object Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(showAttributesTab ? "active" : "") @(!settingsValidated ? "disabled" : "")" href="#">Attributes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(showContainersTab ? "active" : "") @(!settingsValidated ? "disabled" : "")" href="#">Partitions &amp; Containers</a>
    </li>
</ul>
<div class="box-no-top">

    @if (connectedSystem != null)
    {
        <EditForm Model="@connectedSystem" OnValidSubmit="HandleValidDetailsSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label for="inputConnector" class="form-label">Connector</label>
                <InputText class="form-control" id="inputConnector" @bind-Value="connectedSystem.ConnectorDefinition.Name" disabled />
            </div>
            <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <InputText class="form-control" id="inputName" @bind-Value="connectedSystem.Name" DisplayName="Name" />
            </div>
            <div class="mb-3">
                <label for="textAreaDescription" class="form-label">Description</label>
                <InputTextArea class="form-control" id="textAreaDescription" rows="3" @bind-Value="connectedSystem.Description" />
            </div>
            <Button Color="ButtonColor.Primary" Type="ButtonType.Submit" Disabled="detailsFormSubmitting">Save Changes</Button>
        </EditForm>
    }

</div>

<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.BottomCenter" AutoHide="true" />

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string? Name { get; set; }

    private JIM.Models.Staging.ConnectedSystem? connectedSystem;
    private List<ToastMessage> messages = new List<ToastMessage>();
    private bool detailsFormSubmitting = false;
    private bool showDetailsTab = true;
    private bool showSettingsTab = false;
    private bool showObjectTypesTab = false;
    private bool showAttributesTab = false;
    private bool showContainersTab = false;
    private bool settingsValidated = false;

    protected override async Task OnInitializedAsync()
    {
        connectedSystem = await Jim.ConnectedSystems.GetConnectedSystemAsync(Id);
        if (connectedSystem == null)
        {
            // connected system not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }
    }

    private async Task HandleValidDetailsSubmit()
    {
        if (connectedSystem == null)
        {
            Console.WriteLine("HandleValidDetailsSubmit: connectedSystem was null");
            return;
        }
        
        detailsFormSubmitting = true;
        await Jim.ConnectedSystems.UpdateConnectedSystemAsync(connectedSystem);
        messages.Add(CreateToastMessage(ToastType.Success, "Success", "Your changes have been saved."));
        detailsFormSubmitting = false;
    }

    private ToastMessage CreateToastMessage(ToastType toastType, string title, string message) => 
        new ToastMessage
        {
            Type = toastType,
            Title = title,
            HelpText = $"{DateTime.Now}",
            Message = message,
        };
}