@page "/admin/connected-systems"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@using JIM.Models.Core.DTOs
@using JIM.Models.Staging.DTOs
@inject JimApplication Jim

<PageTitle>Connected Systems</PageTitle>
<MudText Typo="Typo.h4">Connected Systems</MudText>
<MudText Typo="Typo.subtitle1">
    JIM imports from and exports data to connected systems using Connectors.
    @if (connectedSystemHeaders == null || connectedSystemHeaders.Count == 0)
    {
        <span>Configure at least one connected system to get going.</span>
    }
</MudText>

<MudGrid Class="mt-5">
    <MudItem xs="6">
        <MudText Typo="Typo.overline">
            <MudLink Href="/admin/connected-systems" Underline="Underline.Always">Connected Systems</MudLink> |
            <MudLink Href="/admin/connected-systems/connectors">Connectors</MudLink>
        </MudText>
    </MudItem>
    <MudItem xs="6" Class="d-flex justify-end">
        <MudButton StartIcon="@Icons.Material.Filled.AddBox" Variant="Variant.Filled" Href="/admin/connected-systems/create" Size="Size.Small" Color="Color.Primary" DisableElevation="true">Create Connected System</MudButton>
    </MudItem>
</MudGrid>

<MudTable Items="@connectedSystemHeaders" Hover="true" Breakpoint="Breakpoint.Sm" Class="mt-5 mb-5" SortLabel="Sort By" Filter="new Func<ConnectedSystemHeader,bool>(FilterFunc1)" Outlined="true" Elevation="0">
    <ToolBarContent>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ConnectedSystemHeader, object>(x => x.Name)">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ConnectedSystemHeader, object>(x => x.Description)">Description</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ConnectedSystemHeader, object>(x => x.ObjectCount)">Objects</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ConnectedSystemHeader, object>(x => x.ConnectorsCount)">Connected Objects (%)</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ConnectedSystemHeader, object>(x => x.PendingExportObjectsCount)">Pending Exports (%)</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ConnectedSystemHeader, object>(x => x.ConnectorName)">Connector</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Options">
            <MudButton Href="@($"/admin/connected-systems/{context.Id}/")"
                Variant="Variant.Outlined"
                StartIcon="@Icons.Material.Filled.Settings"
                Color="Color.Default"
                Size="Size.Small"
                DisableElevation="true">
                Configure
            </MudButton>
            <MudButton Href="@($"/admin/connected-systems/{context.Id}/objects")"
                Variant="Variant.Outlined"
                StartIcon="@Icons.Material.Filled.List"
                Color="Color.Default"
                Size="Size.Small"
                DisableElevation="true">
                View Objects
            </MudButton>
        </MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Objects">@context.ObjectCount.ToString("N0")</MudTd>
        <MudTd DataLabel="Connected Objects (%)">@context.ConnectorsCount.ToString("N0") @((MarkupString)GetPercentageStatement(context.ObjectCount, context.ConnectorsCount))</MudTd>
        <MudTd DataLabel="Pending Exports (%)">@context.PendingExportObjectsCount.ToString("N0") @((MarkupString)GetPercentageStatement(context.ObjectCount, context.PendingExportObjectsCount))</MudTd>
        <MudTd DataLabel="Connector">@context.ConnectorName</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        There are no connected systems
    </NoRecordsContent>
</MudTable>

@code {
    private IList<ConnectedSystemHeader>? connectedSystemHeaders;
    private string searchString = "";

    protected override async Task OnInitializedAsync()
    {
        connectedSystemHeaders = await Jim.ConnectedSystems.GetConnectedSystemHeadersAsync();
    }

    private string GetPercentageStatement(int bigNumber, int smallNumber)
    {
        if (bigNumber == 0 || smallNumber == 0)
            return string.Empty;

        var percentage = 100 / bigNumber * smallNumber;
        return $"({percentage}%)";
    }

    private bool FilterFunc1(ConnectedSystemHeader element) => FilterFunc(element, searchString);

    private bool FilterFunc(ConnectedSystemHeader element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }
}