@page "/admin/connected-systems/connectors/{Id:int}"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@using JIM.Models.Core.DTOs
@using JIM.Models.Interfaces;
@using JIM.Models.Staging.DTOs
@using JIM.Models.Staging;
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>Connector: @connector?.Name</PageTitle>
<MudText Typo="Typo.h4"><span class="mud-secondary-text">Connector:</span> @connector?.Name</MudText>
<MudBreadcrumbs Items="breadcrumbs" Class="ps-0"></MudBreadcrumbs>

@if (connector != null)
{
    <MudText Typo="Typo.h5" Class="mt-5">Details</MudText>
    <MudPaper Class="pa-5 mt-5" Outlined="true">
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Description" Variant="Variant.Outlined">@connector.Description</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Url" Variant="Variant.Outlined"><MudLink Href="@connector.Url">@connector.Url</MudLink></MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Built-in?" Variant="Variant.Outlined">@(connector.BuiltIn ? "Yes" : "No")</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                    <MudField Label="Created" Variant="Variant.Outlined">@connector.Created</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                    <MudField Label="Last Updated" Variant="Variant.Outlined">@(connector.LastUpdated.HasValue ? connector.LastUpdated : "-")</MudField>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudText Typo="Typo.h5" Class="mt-5">Capabilities</MudText>
    <MudPaper Class="pa-5 mt-5" Outlined="true">
        <MudCheckBox @bind-Checked="@connector.SupportsFullImport" Disabled="true">Supports full import?</MudCheckBox>
        <MudCheckBox @bind-Checked="@connector.SupportsDeltaImport" Disabled="true">Supports delta import?</MudCheckBox>
        <MudCheckBox @bind-Checked="@connector.SupportsExport" Disabled="true">Supports export?</MudCheckBox>
    </MudPaper>

    <MudTable Items="@connector.Files" Hover="true" Breakpoint="Breakpoint.Sm" Class="mt-5 mb-5" SortLabel="Sort By" Outlined="true" Elevation="0">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Files</MudText>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<ConnectorDefinitionFile, object>(x => x.Filename)">Filename</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ConnectorDefinitionFile, object>(x => x.FileSizeBytes)">Filesize (kb)</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ConnectorDefinitionFile, object>(x => GetFileInterfaces(x))">Interfaces</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ConnectorDefinitionFile, object>(x => x.Version)">Version</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Filename">@context.Filename</MudTd>
            <MudTd DataLabel="Filesize (kb)">@(context.FileSizeBytes/1000)</MudTd>
            <MudTd DataLabel="Interfaces">@GetFileInterfaces(context)</MudTd>
            <MudTd DataLabel="Version">@context.Version</MudTd>
        </RowTemplate>
        <NoRecordsContent>
            @if (connector.BuiltIn)
            {
                <MudText>No files due to it being a built-in connector</MudText>
            }
            else
            {
                <MudText>No files. Upload some to make this connector functional</MudText>
            }
        </NoRecordsContent>
    </MudTable>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private JIM.Models.Staging.ConnectorDefinition? connector;
    private List<BreadcrumbItem> breadcrumbs = null!;

    protected override async Task OnInitializedAsync()
    {
        connector = await Jim.ConnectedSystems.GetConnectorDefinitionAsync(Id);
        if (connector == null)
        {
            // connector definition not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }

        breadcrumbs = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Home", href: "/", icon: Icons.Material.Filled.Home),
            new BreadcrumbItem("Connected Systems", href: "/admin/connected-systems/"),
            new BreadcrumbItem("Connectors", href: "/admin/connected-systems/connectors/"),
            new BreadcrumbItem(connector.Name, href: null, disabled: true)
        };
    }

    private string GetFileInterfaces(ConnectorDefinitionFile file)
    {
        var interfaces = "";
        if (file.ImplementsIConnector)
            interfaces += nameof(IConnector) + ", ";

        if (file.ImplementsICapabilities)
            interfaces += nameof(IConnectorCapabilities) + ", ";

        if (file.ImplementsISettings)
            interfaces += nameof(IConnectorSettings) + ", ";

        if (file.ImplementsIContainers)
            interfaces += nameof(IConnectorContainers) + ", ";

        if (file.ImplementsISchema)
            interfaces += nameof(IConnectorSchema) + ", ";

        if (file.ImplementsIExportUsingCalls)
            interfaces += nameof(IConnectorExportUsingCalls) + ", ";

        if (file.ImplementsIExportUsingFiles)
            interfaces += nameof(IConnectorExportUsingFiles) + ", ";

        if (file.ImplementsIImportUsingCalls)
            interfaces += nameof(IConnectorImportUsingCalls) + ", ";

        if (file.ImplementsIImportUsingFiles)
            interfaces += nameof(IConnectorImportUsingFiles) + ", ";

        if (interfaces != "")
            interfaces = interfaces.Substring(0, interfaces.Length - 2);

        return interfaces;
    }
}