@page "/admin/connected-systems/connectors"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@using JIM.Models.Core.Dto
@using JIM.Models.Staging.Dtos
@inject JimApplication Jim

<PageTitle>Connectors</PageTitle>
<h1>Connectors</h1>
<p class="light">
    JIM uses connectors to connect to external systems and import/export data. A number are pre-supplied as built-in connectors for common system types, but you can also install third-party connectors. 
    From here you can see which are installed and if any have updates that can be applied.
</p>

<div class="box mt-3">

    <div class="btn-group btn-group-sm" role="group" aria-label="Navigation options">
        <a class="btn btn-outline-secondary" href="/admin/connected-systems">Connected Systems</a>
        <a class="btn btn-outline-secondary active" aria-current="page" href="/admin/connected-systems/connectors">Connectors</a>
    </div>

    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Built-in?</th>
@*                <th scope="col">Created</th>
                <th scope="col">Last Updated</th>*@
                <th scope="col">Version(s)</th>
                <th scope="col">In Use?</th>
            </tr>
        </thead>
        <tbody>
            @if (headers != null && headers.Count > 0)
            {
                foreach (var header in headers)
                {
                    <tr>
                        <td><a href="/admin/connected-systems/connectors/@(header.Id)">@header.Name</a></td>
                        <td>@header.Description</td>
                        <td>@(header.BuiltIn ? "Yes" : "No")</td>
@*                        <td>@header.Created</td>
                        <td>@header.LastUpdated</td>*@
                        <td>@(!string.IsNullOrEmpty(header.Versions) ? header.Versions :"-")</td>
                        <td>@(header.InUse ? "Yes" : "No")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="light text-center">No connectors to show.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private IList<ConnectorDefinitionHeader>? headers;

    protected override async Task OnInitializedAsync()
    {
        headers = await Jim.ConnectedSystems.GetConnectorDefinitionHeadersAsync();
    }
}