@page "/admin/connected-systems/{Id:int}/{Name}"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@using JIM.Models.Core.Dto
@using JIM.Models.Staging.Dtos
@using JIM.Models.Staging;
@using JIM.Web.Models;
@inject JimApplication Jim
@inject NavigationManager NavManager
@inject ISnackbar Snackbar

<PageTitle>Connected System: @connectedSystem?.Name</PageTitle>
<MudText Typo="Typo.h4"><span class="mud-text-secondary">Connected System:</span> @connectedSystem?.Name</MudText>
<MudText Typo="Typo.subtitle1">Some aspects of a Connected System can only be configured once basic details and setting values have been provided.</MudText>

@if (connectedSystem != null)
{
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-5" Class="mt-5">

        <MudTabPanel Text="Details">
            <MudForm @bind-IsValid="@IsDetailsFormValid" @bind-Errors="@DetailsFormErrors">
                <MudTextField T="string" Label="Connector" @bind-Value="connectedSystem.ConnectorDefinition.Name" Disabled="true" />
                <MudTextField T="string" Label="Name" @bind-Value="connectedSystem.Name" Required="true" RequiredError="A name is required" />
                <MudTextField T="string" Label="Description" Required="false" @bind-Value="connectedSystem.Description" Lines="5" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!IsDetailsFormValid)" Class="mt-5" OnClick="HandleValidDetailsSubmitAsync">Save Changes</MudButton>
            </MudForm>
        </MudTabPanel>

        <MudTabPanel Text="Settings">
            <MudText>Configure the connector for your environment by supplying values for the settings below.</MudText>
            <MudForm @bind-IsValid="@IsSettingsFormValid" @bind-Errors="@SettingsFormErrors" Class="mt-5">
                @if (settingCategories != null)
                {
                    <MudExpansionPanels MultiExpansion="true">
                        @for (var i = 0; i < settingCategories.Count; i++)
                        {
                            var formElementName = "something-" + i;
                            var settingCategory = @settingCategories[i];
                            <MudExpansionPanel Text="@settingCategory.ToString()">
                                @foreach (var settingValue in connectedSystem.SettingValues.Where(sv => sv.Setting.Category == settingCategory))
                                {
                                    if (settingValue.Setting.Type == ConnectedSystemSettingType.Heading)
                                    {
                                        <MudText Typo="Typo.h6" Class="mt-5">@settingValue.Setting.Name</MudText>
                                    }
                                    else if (settingValue.Setting.Type == ConnectedSystemSettingType.Divider)
                                    {
                                        <hr />
                                    }
                                    else if (settingValue.Setting.Type == ConnectedSystemSettingType.String)
                                    {
                                        <MudTextField T="string"
                                                      Label="@settingValue.Setting.Name"
                                                      @bind-Value="settingValue.StringValue"
                                                      Required="@settingValue.Setting.Required"
                                                      RequiredError="@($"A {settingValue.Setting.Name} is required")"
                                                      HelperText="@settingValue.Setting.Description" />
                                    }
                                    else if (settingValue.Setting.Type == ConnectedSystemSettingType.StringEncrypted)
                                    {
                                        <MudTextField T="string"
                                                      Label="@settingValue.Setting.Name"
                                                      @bind-Value="settingValue.StringEncryptedValue"
                                                      Required="@settingValue.Setting.Required"
                                                      RequiredError="@($"A {settingValue.Setting.Name} is required")"
                                                      HelperText="@settingValue.Setting.Description"
                                                      InputType="InputType.Password" />
                                    }
                                    else if (settingValue.Setting.Type == ConnectedSystemSettingType.Integer)
                                    {
                                        <MudTextField T="int?"
                                                      Label="@settingValue.Setting.Name"
                                                      @bind-Value="settingValue.IntValue"
                                                      Required="@settingValue.Setting.Required"
                                                      RequiredError="@($"A {settingValue.Setting.Name} is required")"
                                                      HelperText="@settingValue.Setting.Description"
                                                      InputType="InputType.Number" />
                                    }
                                    else if (settingValue.Setting.Type == ConnectedSystemSettingType.CheckBox)
                                    {
                                        <MudSwitch @bind-Checked="settingValue.CheckboxValue" Color="Color.Primary" Label="@settingValue.Setting.Name" />
                                    }
                                    else if (settingValue.Setting.Type == ConnectedSystemSettingType.DropDown && settingValue.Setting.DropDownValues != null)
                                    {
                                        <MudSelect @bind-Value="settingValue.StringValue" HelperText="@settingValue.Setting.Description" Label="@settingValue.Setting.Name">
                                            @foreach (var dropDownValue in settingValue.Setting.DropDownValues)
                                            {
                                                <option value="@dropDownValue">@dropDownValue</option>
                                            }
                                        </MudSelect>
                                    }
                                    else if (settingValue.Setting.Type == ConnectedSystemSettingType.Label)
                                    {
                                        <MudText Class="mt-5">
                                            @settingValue.Setting.Description
                                        </MudText>
                                    }
                                    else if (settingValue.Setting.Type == ConnectedSystemSettingType.File)
                                    {
                                        <MudText>Files not yet supported for settings.</MudText>
                                    }
                                    else
                                    {
                                        <MudText>Oops. Unknown setting type!</MudText>
                                    }
                                }
                            </MudExpansionPanel>
                        }
                    </MudExpansionPanels>
                }

                @if (SettingsFormCustomErrors.Any())
                {
                    <MudAlert Severity="Severity.Error" Class="mt-5">
                        <MudText>There are issues with the settings:</MudText>
                        <ul class="mt-5">
                            @foreach (var error in SettingsFormCustomErrors)
                            {
                                <li>@error.Key: @error.Value</li>
                            }
                        </ul>
                    </MudAlert>
                }
           
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!IsSettingsFormValid)" Class="mt-5" OnClick="HandleValidSettingsSubmitAsync">Save Settings</MudButton>
            </MudForm>
        </MudTabPanel>

        <MudTabPanel Text="Schema" Disabled="@AreSettingDependentTabsDisabled()">
            <MudText>Select which object types and which attributes for them are managed by JIM here. To maximise performance, only select those that need managing.</MudText>
            <MudAlert Severity="(connectedSystem.ObjectTypes.Count > 0 ? Severity.Warning : Severity.Info)">
                @if (connectedSystem.ObjectTypes.Count == 0)
                {
                    <MudText>Retrieve the schema from the connected system, to be able to select which object types and attributes you want to manage with JIM.</MudText>
                }
                else
                {
                    <MudText>
                        <strong>Refreshing the schema can result in data-loss</strong>. If object types or attributes are discovered to have been removed at the connected system, then this will result in all references to them being removed from within JIM,
                        i.e. synchronisation rules, attribute flow, attributes values and even entire objects will be deleted if object types are removed. Refresh with caution. Ensure the Connected System identity has the right
                        permissions needed to retrieve the schema, and consider a database backup before proceeeding.
                    </MudText>
                }
                <MudButton Color="(connectedSystem.ObjectTypes.Count == 0 ? Color.Primary : Color.Warning)" Size="Size.Small" Onclick="HandleImportSchemaAsync" Class="mt-5">
                    @if (connectedSystem.ObjectTypes.Count == 0)
                    {
                        <text>Retrieve Schema</text>
                    }
                    else
                    {
                        <text>Refresh Schema</text>
                    }
                </MudButton>
            </MudAlert>


            @if (connectedSystem.ObjectTypes.Count > 0)
            {
                <MudExpansionPanels MultiExpansion="true">
                    @for (var i = 0; i < connectedSystem.ObjectTypes.Count; i++)
                    {
                        <MudExpansionPanel Text="@connectedSystem.ObjectTypes[i].Name">
                            <MudText>Select the @connectedSystem.ObjectTypes[i].Name attributes you want to manage.</MudText>
                            <div class="mt-5 mb-5">
                                <MudButton Size="Size.Small" Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.SelectAll">Select All</MudButton>
                                <MudButton Size="Size.Small" Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.ClearAll">Select None</MudButton>
                            </div>

                            Mud Grid alternative to come...

                            @*<Grid
                                        TItem="ConnectedSystemAttribute"
                                        Data="connectedSystem.ObjectTypes[i].Attributes"
                                        AllowFiltering="true"
                                        Responsive="true"
                                        AllowSorting="true"
                                        class="table table-hover table-bordered table-striped">
                                    <GridColumn TItem="ConnectedSystemAttribute" HeaderText="Selected?" Filterable="false" SortKeySelector="item => item.Selected">
                                        <Switch @bind-Value="context.Selected" />
                                    </GridColumn>
                                    <GridColumn TItem="ConnectedSystemAttribute" HeaderText="Name" PropertyName="Name" SortKeySelector="item => item.Name">
                                        @context.Name
                                    </GridColumn>
                                    <GridColumn TItem="ConnectedSystemAttribute" HeaderText="Class" PropertyName="ClassName" SortKeySelector="item => item.ClassName">
                                        @context.ClassName
                                    </GridColumn>
                                    <GridColumn TItem="ConnectedSystemAttribute" HeaderText="Plurality" PropertyName="AttributePlurality" Filterable="false" SortKeySelector="item => item.AttributePlurality">
                                        @context.AttributePlurality
                                    </GridColumn>
                                    <GridColumn TItem="ConnectedSystemAttribute" HeaderText="Description" PropertyName="Description" SortKeySelector="item => item.Description">
                                        @context.Description
                                    </GridColumn>
                                </Grid>*@

                         
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
                <MudButton Color="Color.Primary" OnClick="HandleAttributeSelectionSubmitAsync" Class="mt-5">Save Changes</MudButton>
            }
            else
            {
                <div class="p-5 bg-light rounded-3">
                    <div class="container-fluid py-5 text-center text-secondary">
                        Schema not yet retrieved
                    </div>
                </div>
            }

        </MudTabPanel>
        @if (connectedSystem.ConnectorDefinition.SupportsPartitions)
        {
            <MudTabPanel Text="Partitions & Containers" Disabled="@AreSettingDependentTabsDisabled()">
                <MudText>Contents &amp; Partitions Content...</MudText>
            </MudTabPanel>
        }
    </MudTabs>
}

<div class="box-no-top mb-3">

    @if (connectedSystem != null && settingCategories != null)
    {
        if (activeTab == Tabs.Schema)
        {

        }
        else if (activeTab == Tabs.Hierarchy && connectedSystem != null)
        {
            <div class="mb-3">
                <p>
                    <text>Select which @partitionsAndHierarchiesText are to be managed by JIM here. To maximise performance, only select those that need managing.</text>
                </p>

                <MudAlert Severity="(connectedSystem.Partitions != null && connectedSystem.Partitions.Count > 0 ? Severity.Warning : Severity.Info)">
                    @if (connectedSystem.ObjectTypes.Count == 0)
                    {
                        <text>Retrieve the hierarchy @partitionAndHierarchyText hierarchy from the connected system, to be able to select which ones you want to manage with JIM.</text>
                    }
                    else
                    {
                        <text>
                            <strong>Refreshing the @partitionAndHierarchyText heirarchy can result in data-loss</strong>. If partitions and/or containers are removed, then this will result in all objects in them being deleted
                            from the Connected System, which depending on your configuration, could result in those objects being deprovisioned from the Metaverse and any downstream Connected Systems. Refresh with caution.
                            Ensure the Connected System identity has the right permissions needed to retrieve the heirarchy, and consider a database backup before proceeeding.
                        </text>
                    }
                    <div class="mt-3">
                        <MudButton Disabled="@hierarchyBeingRetrieved" Color="(connectedSystem.Partitions == null || connectedSystem.Partitions.Count == 0 ? Color.Primary : Color.Warning)" Size="Size.Small" Onclick="HandleImportHierarchyAsync">
                            @if (hierarchyBeingRetrieved)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">Processing</MudText>
                            }
                            else
                            {
                                if (connectedSystem.Partitions?.Count == 0)
                                {
                                    <MudText>Retrieve Hierarchy</MudText>
                                }
                                else
                                {
                                    <MudText>Refresh Hierarchy</MudText>
                                }
                            }
                        </MudButton>
                    </div>
                </MudAlert>
            </div>

            @if (connectedSystem.Partitions != null && connectedSystem.Partitions.Count > 0)
            {
                <div class="accordion mb-3" id="p-accordion">
                    @for (var i = 0; i < connectedSystem.Partitions.Count; i++)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="p-heading-@(i)">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#p-collapse-@(i)" aria-expanded="true" aria-controls="ot-collapse-@(i)">
                                    @if (connectedSystem.Partitions[i].Selected)
                                    {
                                        <span class="jim-cs-s-selected"><i class="bi bi-check2-circle"></i></span>
                                    }
                                    else
                                    {
                                        <span class="jim-cs-s-not-selected"></span>
                                    }
                                    @connectedSystem.Partitions[i].Name
                                </button>
                            </h2>
                            <div id="p-collapse-@(i)" class="accordioncollapse collapse" aria-labelledby="p-heading-@(i)" data-bs-parent="#p-accordion">
                                <div class="accordion-body">

                                    Select the @connectedSystem.Partitions[i].Name containers you want to manage.

                                    <div class="mt-3 mb-3">
                                        <MudButton Size="Size.Small" Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.SelectAll">Select All</MudButton>
                                        <MudButton Size="Size.Small" Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.ClearAll">Select None</MudButton>
                                    </div>

                                    <!-- container heirarchy to go here -->

                                </div>
                            </div>
                        </div>
                    }
                </div>

                <MudButton Color="Color.Primary" Onclick="HandleHierarchySelectionSubmitAsync">Save Changes</MudButton>
            }
            else
            {
                <div class="p-5 bg-light rounded-3">
                    <div class="container-fluid py-5 text-center text-secondary">
                        Hierarchy not yet retrieved
                    </div>
                </div>
            }
        }
    }

</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string? Name { get; set; }

    private JIM.Models.Staging.ConnectedSystem? connectedSystem;
    private Tabs activeTab = Tabs.Details;
    private List<ConnectedSystemSettingCategory>? settingCategories;
    private string? partitionsAndHierarchiesText;
    private string? partitionAndHierarchyText;
    private bool schemaBeingRetrieved;
    private bool hierarchyBeingRetrieved;

    private bool IsDetailsFormValid { get; set; }
    private string[] DetailsFormErrors { get; set; } = { };
    private bool IsSettingsFormValid { get; set; }
    private string[] SettingsFormErrors { get; set; } = { };
    private Dictionary<string, string> SettingsFormCustomErrors { get; set; } = new Dictionary<string,string>();

    // ui helper
    private enum Tabs
    {
        Details,
        Settings,
        Schema,
        Hierarchy
    }

    protected override async Task OnInitializedAsync()
    {
        connectedSystem = await Jim.ConnectedSystems.GetConnectedSystemAsync(Id);
        if (connectedSystem == null)
        {
            // connected system not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }

        // get a list of the distinct setting categories in use, so we can render them in category blocks
        settingCategories = connectedSystem.SettingValues.Select(q => q.Setting.Category).Distinct().ToList();

        // to save us having to perform this comparison all over the view
        if (connectedSystem.ConnectorDefinition.SupportsPartitions && connectedSystem.ConnectorDefinition.SupportsPartitionContainers)
        {
            partitionsAndHierarchiesText = "partitions and containers";
            partitionAndHierarchyText = "partition and container";
        }
        else if (connectedSystem.ConnectorDefinition.SupportsPartitions)
        {
            partitionsAndHierarchiesText = "partitions";
            partitionAndHierarchyText = "partition";
        }
    }

    private bool AreSettingDependentTabsDisabled()
    {
        if (connectedSystem == null)
            return true;
        else if (connectedSystem.SettingValuesValid)
            return false;
        else
            return true;
    }

    private async Task HandleValidDetailsSubmitAsync()
    {
        if (connectedSystem == null)
        {
            Console.WriteLine($"{nameof(HandleValidDetailsSubmitAsync)}: connectedSystem was null");
            return;
        }

        await Jim.ConnectedSystems.UpdateConnectedSystemAsync(connectedSystem);
        Snackbar.Add("Your details changes have been saved.", Severity.Success);
    }

    private async Task HandleValidSettingsSubmitAsync()
    {
        if (connectedSystem == null)
        {
            Console.WriteLine($"{nameof(HandleValidSettingsSubmitAsync)}: connectedSystem was null");
            return;
        }

        // validate the form
        SettingsFormCustomErrors.Clear();
        var results = Jim.ConnectedSystems.ValidateConnectedSystemSettings(connectedSystem);
        for (var i = 0; i < results.Count; i++)
        {
            var result = results[i];
            if (result.IsValid)
                continue;

            if (result.SettingValue != null && result.SettingValue.Setting != null && result.SettingValue.Setting.Name != null && !string.IsNullOrEmpty(result.ErrorMessage))
                SettingsFormCustomErrors.Add(result.SettingValue.Setting.Name, result.ErrorMessage);
            else if (result.SettingValue == null && !string.IsNullOrEmpty(result.ErrorMessage))
                SettingsFormCustomErrors.Add($"General issue {i+1}", result.ErrorMessage);
        }

        if (SettingsFormCustomErrors.Any())
            return;

        await Jim.ConnectedSystems.UpdateConnectedSystemAsync(connectedSystem);
        Snackbar.Add("Your setting changes have been saved.", Severity.Success);
    }

    private async Task HandleImportSchemaAsync()
    {
        if (connectedSystem == null)
            return;

        schemaBeingRetrieved = true;
        await Jim.ConnectedSystems.ImportConnectedSystemSchemaAsync(connectedSystem);
        schemaBeingRetrieved = false;
    }

    private async Task HandleAttributeSelectionSubmitAsync()
    {
        if (connectedSystem == null)
            return;



        await Jim.ConnectedSystems.UpdateConnectedSystemAsync(connectedSystem);
        Snackbar.Add("Your attribute changes have been saved.", Severity.Success);
    }

    private async Task HandleImportHierarchyAsync()
    {
        if (connectedSystem == null)
            return;

        hierarchyBeingRetrieved = true;
        await Jim.ConnectedSystems.ImportConnectedSystemHierarchyAsync(connectedSystem);
        hierarchyBeingRetrieved = false;
    }

    private async Task HandleHierarchySelectionSubmitAsync()
    {
        if (connectedSystem == null)
            return;

        await Jim.ConnectedSystems.UpdateConnectedSystemAsync(connectedSystem);
        Snackbar.Add("Your hierarchy changes have been saved.", Severity.Success);
    }
}