@page "/admin/example-data/datasets/{Id:int}"
@attribute [Authorize(Roles = "Administrator")]
@using JIM.Application
@using JIM.Models.DataGeneration
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>Example Data Set: @_exampleDataSet?.Name</PageTitle>
<MudText Typo="Typo.h4"><span class="mud-primary-text">Example Data Sets:</span> @_exampleDataSet?.Name</MudText>
<MudBreadcrumbs Items="_breadcrumbs" Class="ps-0"></MudBreadcrumbs>

@if (_exampleDataSet != null)
{
    <MudText Typo="Typo.h5" Class="mt-5">Details</MudText>
    <MudPaper Class="pa-5 mt-5" Outlined="true">
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Created" Variant="Variant.Outlined">@_exampleDataSet.Created</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Built-in?" Variant="Variant.Outlined">@(_exampleDataSet.BuiltIn ? "Yes" : "No")</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                    <MudField Label="Culture" Variant="Variant.Outlined">@_exampleDataSet.Culture</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                    <MudField Label="Values" Variant="Variant.Outlined">@_exampleDataSet.Values.Count.ToString("N0")</MudField>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudText Typo="Typo.h5" Class="mt-5">Values</MudText>
    <MudPaper Class="pa-5 mt-5 mb-5" Outlined="true">
        @foreach (var val in _exampleDataSet.Values)
        {
            <MudChip T="string" Variant="Variant.Filled" Color="Color.Default">@val.StringValue</MudChip>
        }
    </MudPaper>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private ExampleDataSet? _exampleDataSet;
    private List<BreadcrumbItem> _breadcrumbs = null!;

    protected override async Task OnInitializedAsync()
    {
        _exampleDataSet = await Jim.DataGeneration.GetExampleDataSetAsync(Id);
        if (_exampleDataSet == null)
        {
            // template not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }

        _breadcrumbs = new List<BreadcrumbItem>
        {
            new("Home", href: "/", icon: Icons.Material.Filled.Home),
            new("Example Data", href: "/admin/example-data/"),
            new("Datasets", href: "/admin/example-data/datasets/"),
            new(_exampleDataSet.Name, href: null, disabled: true)
        };
    }
}