@page "/admin/example-data/templates/{Id:int}"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.DataGeneration
@using JIM.Models.Core
@using JIM.Models.Tasking
@using System.Diagnostics
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>Data Generation Template: @template?.Name</PageTitle>
<MudText Typo="Typo.h4"><span class="mud-secondary-text">Data Generation Template:</span> @template?.Name</MudText>

@if (template != null)
{
    foreach (var objectType in template.ObjectTypes)
    {
        <MudTable Items="@objectType.TemplateAttributes" Hover="true" Breakpoint="Breakpoint.Sm" Class="mt-5 mb-5" SortLabel="Sort By" Outlined="true" Elevation="0">
            <ToolBarContent>
                <MudText Typo="Typo.h6">@objectType.MetaverseObjectType.Name</MudText>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<DataGenerationTemplateAttribute, object>(x => x.MetaverseAttribute.Name)">Attribute</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DataGenerationTemplateAttribute, object>(x => x.MetaverseAttribute.Type)">Type</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DataGenerationTemplateAttribute, object>(x => x.PopulatedValuesPercentage)">Population %</MudTableSortLabel></MudTh>
                <MudTh>Rules</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Attribute">@context.MetaverseAttribute?.Name</MudTd>
                <MudTd DataLabel="Type">@context.MetaverseAttribute?.Type</MudTd>
                <MudTd DataLabel="Population &">@context.PopulatedValuesPercentage</MudTd>
                <MudTd DataLabel="Rules">
                    @if (context.MetaverseAttribute?.Type == AttributeDataType.String)
                    {
                        if (!string.IsNullOrEmpty(context.Pattern))
                        {
                            <MudChip Color="Color.Primary"><b>Pattern:</b>&nbsp;@context.Pattern</MudChip>
                        }

                        if (context.ExampleDataSetInstances != null && context.ExampleDataSetInstances.Count > 0)
                        {
                            var setValues = "";
                            foreach (var set in context.ExampleDataSetInstances)
                                setValues += set.ExampleDataSet.Name + ", ";

                            if (setValues.EndsWith(", "))
                                setValues = setValues.Substring(0, setValues.Length - 2);

                            <MudChip Color="Color.Primary"><b>Data set(s):</b>&nbsp;@setValues</MudChip>
                        }

                        if (context.MinNumber.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Min:</b>&nbsp;@context.MinNumber.Value.ToString("N0")</MudChip>
                        }

                        if (context.MaxNumber.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Max:</b>&nbsp;@context.MaxNumber.Value.ToString("N0")</MudChip>
                        }

                        if (context.WeightedStringValues != null && context.WeightedStringValues.Count > 0)
                        {
                            string weightedStringValues = "";
                            foreach (var wsv in context.WeightedStringValues)
                                weightedStringValues += $"{wsv.Value}: {wsv.Weight}, ";

                            weightedStringValues = weightedStringValues.Substring(0, weightedStringValues.Length - 2);
                            <MudChip Color="Color.Primary"><b>Weighted Values:</b>&nbsp;@weightedStringValues</MudChip>
                        }
                    }
                    else if (context.MetaverseAttribute?.Type == AttributeDataType.Number)
                    {
                        if (context.MinNumber.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Min:</b>&nbsp;@context.MinNumber.Value.ToString("N0")</MudChip>
                        }

                        if (context.MaxNumber.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Max:</b>&nbsp;@context.MaxNumber.Value.ToString("N0")</MudChip>
                        }

                        if (context.SequentialNumbers.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Sequential:</b>&nbsp;@context.SequentialNumbers.Value.ToString()</MudChip>
                        }

                        if (context.RandomNumbers.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Random numbers:</b>&nbsp;@context.RandomNumbers.Value.ToString()</MudChip>
                        }
                    }
                    else if (context.MetaverseAttribute?.Type == AttributeDataType.Bool)
                    {
                        if (context.BoolShouldBeRandom.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Random:</b>&nbsp;@context.BoolShouldBeRandom.Value.ToString()</MudChip>
                        }

                        if (context.BoolTrueDistribution.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>True distribution:</b>&nbsp;@context.BoolTrueDistribution.Value.ToString("N0")</MudChip>
                        }
                    }
                    else if (context.MetaverseAttribute?.Type == AttributeDataType.DateTime && (context.MinDate.HasValue || context.MaxDate.HasValue))
                    {
                        if (context.MinDate.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Min:</b>&nbsp;@context.MinDate.Value.ToShortDateString()</MudChip>
                        }

                        if (context.MaxDate.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Min:</b>&nbsp;@context.MaxDate.Value.ToShortDateString()</MudChip>
                        }
                    }
                    else if (context.MetaverseAttribute?.Type == AttributeDataType.Reference)
                    {
                        if (context.MvaRefMinAssignments.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>MVA min assignments:</b>&nbsp;@context.MvaRefMinAssignments.Value.ToString("N0")</MudChip>
                        }

                        if (context.MvaRefMaxAssignments.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>MVA max assignments:</b>&nbsp;@context.MvaRefMaxAssignments.Value.ToString("N0")</MudChip>
                        }

                        if (context.ReferenceMetaverseObjectTypes != null && context.ReferenceMetaverseObjectTypes.Count > 0)
                        {
                            var refTypes = "";
                            foreach (var refType in context.ReferenceMetaverseObjectTypes)
                                refTypes += refType.Name + ", ";

                            if (refTypes.EndsWith(", "))
                                refTypes = refTypes.Substring(0, refTypes.Length - 2);

                            <MudChip Color="Color.Primary"><b>Reference type(s):</b>&nbsp;@refTypes</MudChip>
                        }

                        if (context.ManagerDepthPercentage.HasValue)
                        {
                            <MudChip Color="Color.Primary"><b>Manager depth:</b>&nbsp;@(context.ManagerDepthPercentage + "%")</MudChip>
                        }
                    }
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                No template attributes
            </NoRecordsContent>
        </MudTable>
    }
}

<MudAlert Severity="Severity.Warning">
    <MudText Typo="Typo.h6">Warning</MudText>
    <MudText>
        Executing this template will cause example data to be inserted into the Metaverse. It's not recommended to do this on a system with Connectors and that is already initialised.
        This feature is primarily designed to enable demo or proof of concept work. There is no easy way to undo this once performed.
    </MudText>
    <MudButton Class="mt-5"
               Variant="Variant.Filled"
               StartIcon="@Icons.Material.Filled.BuildCircle"
               Color="Color.Warning"
               Disabled="@(status != null)"
               OnClick="ExecuteTemplateAsync"
               DisableElevation="true">
        @if (status != null && status == ServiceTaskStatus.Processing)
        {
            <text>Processing...</text>
        }
        else if (status != null && status == ServiceTaskStatus.Queued)
        {
            <text>Queued...</text>
        }
        else
        {
            <text>Execute Template</text>
        }
    </MudButton>
</MudAlert>

@code {
    [Parameter]
    public int Id { get; set; }

    private DataGenerationTemplate? template;
    private DataGenerationTemplateServiceTask? task;
    private ServiceTaskStatus? status;

    protected override async Task OnInitializedAsync()
    {
        template = await Jim.DataGeneration.GetTemplateAsync(Id);
        if (template == null)
        {
            // template not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }

        // has this template already been scheduled, or is already being processed on the service queue?
        // continuously update the UI to show any change in status
        // POLLING_TO_REPLACE - tagging this functionality for replacement with an event-based ui update approach in the future
        var timer = new Timer(new TimerCallback(async _ =>
        {
            Debug.WriteLine("Timer loop executing...");
            if (template != null)
            {
                status = await Jim.Tasking.GetFirstDataGenerationTemplateServiceTaskStatus(template.Id);
                if (status != null)
                    Debug.WriteLine("TimerLoop: status is " + status);
                else
                    Debug.WriteLine("TimerLoop: status is null");
            }
            else
            {
                Debug.WriteLine("TimerLoop: template is null");
            }

            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }), null, 2000, 2000);
    }

    private async Task ExecuteTemplateAsync()
    {
        if (template == null)
            return;

        task = new DataGenerationTemplateServiceTask(template.Id);
        await Jim.Tasking.CreateServiceTaskAsync(task);
    }
}