@page "/admin/example-data/templates/{Id:int}"
@attribute [Authorize(Roles = "Administrator")]
@using JIM.Models.Activities
@using JIM.Models.ExampleData
@using JIM.Models.Core
@using JIM.Models.Tasking
@using JIM.Web.Pages.Admin.Components
@inject IJimApplicationFactory JimFactory
@inject NavigationManager NavManager
@inject IUiNotificationService UiNotifications
@implements IDisposable

@* Copyright (c) Tetron Limited. All rights reserved. *@
@* Licensed under the Tetron Commercial License. See LICENSE file in the project root. *@

<PageTitle>Data Generation Template: @_template?.Name</PageTitle>
<MudText Typo="Typo.h3"><MudIcon Icon="@Icons.Material.Filled.Science" Size="Size.Large" Class="mr-2 mb-1" Style="vertical-align: middle;" /><span>Data Generation Template:</span> <span class="mud-primary-text">@_template?.Name</span></MudText>
<div class="d-flex justify-space-between align-center">
    <MudBreadcrumbs Items="_breadcrumbs" Class="ps-0"></MudBreadcrumbs>
    @if (_template != null)
    {
        <AuditInfo Entity="@_template" />
    }
</div>

@if (_template != null)
{
    <NavigableMudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="false" Outlined="true" Class="mt-2" TabPanelsClass="pa-0">

        <MudTabPanel Text="Details">
    @foreach (var objectType in _template.ObjectTypes)
    {
        <MudTable Items="@objectType.TemplateAttributes" Hover="true" Dense="true" Breakpoint="Breakpoint.Sm" Class="mt-3 mb-5" SortLabel="Sort By" Outlined="true" Elevation="0">
            <ToolBarContent>
                <MudText Typo="Typo.h6">@objectType.MetaverseObjectType.Name</MudText>
            </ToolBarContent>
            <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<ExampleDataTemplateAttribute, object>(x => x.MetaverseAttribute!.Name)"><MudText Typo="Typo.button">Attribute</MudText></MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ExampleDataTemplateAttribute, object>(x => x.MetaverseAttribute!.Type)"><MudText Typo="Typo.button">Type</MudText></MudTableSortLabel></MudTh>
                <MudTh Style="white-space: nowrap;"><MudTableSortLabel SortBy="new Func<ExampleDataTemplateAttribute, object>(x => x.PopulatedValuesPercentage!)"><MudText Typo="Typo.button">Population %</MudText></MudTableSortLabel></MudTh>
                <MudTh><MudText Typo="Typo.button">Rules</MudText></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Attribute">@context.MetaverseAttribute?.Name</MudTd>
                <MudTd DataLabel="Type">@context.MetaverseAttribute?.Type</MudTd>
                <MudTd DataLabel="Population &">@context.PopulatedValuesPercentage</MudTd>
                <MudTd DataLabel="Rules">
                    @if (context.MetaverseAttribute?.Type == AttributeDataType.Text)
                    {
                        if (!string.IsNullOrEmpty(context.Pattern))
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Pattern:</b>&nbsp;@context.Pattern</MudChip>
                        }

                        if (!string.IsNullOrEmpty(context.Expression))
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Expression:</b>&nbsp;@context.Expression</MudChip>
                        }

                        if (context.ExampleDataSetInstances is { Count: > 0 })
                        {
                            var setValues = context.ExampleDataSetInstances.Aggregate("", (current, set) => current + set.ExampleDataSet.Name + ", ");
                            if (setValues.EndsWith(", "))
                            {
                                setValues = setValues.Substring(0, setValues.Length - 2);
                            }

                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Data set(s):</b>&nbsp;@setValues</MudChip>
                        }

                        if (context.MinNumber.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Min:</b>&nbsp;@context.MinNumber.Value.ToString("N0")</MudChip>
                        }

                        if (context.MaxNumber.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Max:</b>&nbsp;@context.MaxNumber.Value.ToString("N0")</MudChip>
                        }

                        var weightedStringValues = "";
                        if (context.WeightedStringValues != null && context.WeightedStringValues.Count > 0)
                        {
                            weightedStringValues = context.WeightedStringValues.Aggregate(weightedStringValues, (current, wsv) => current + $"{wsv.Value}: {wsv.Weight}, ");
                            weightedStringValues = weightedStringValues.Substring(0, weightedStringValues.Length - 2);
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Weighted Values:</b>&nbsp;@weightedStringValues</MudChip>
                        }
                    }
                    else if (context.MetaverseAttribute?.Type == AttributeDataType.Number || context.MetaverseAttribute?.Type == AttributeDataType.LongNumber || context.MetaverseAttribute?.Type == AttributeDataType.Decimal)
                    {
                        if (context.MinNumber.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Min:</b>&nbsp;@context.MinNumber.Value.ToString("N0")</MudChip>
                        }

                        if (context.MaxNumber.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Max:</b>&nbsp;@context.MaxNumber.Value.ToString("N0")</MudChip>
                        }

                        if (context.SequentialNumbers.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Sequential:</b>&nbsp;@context.SequentialNumbers.Value.ToString()</MudChip>
                        }

                        if (context.RandomNumbers.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Random numbers:</b>&nbsp;@context.RandomNumbers.Value.ToString()</MudChip>
                        }
                    }
                    else if (context.MetaverseAttribute?.Type == AttributeDataType.Boolean)
                    {
                        if (context.BoolShouldBeRandom.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Random:</b>&nbsp;@context.BoolShouldBeRandom.Value.ToString()</MudChip>
                        }

                        if (context.BoolTrueDistribution.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>True distribution:</b>&nbsp;@context.BoolTrueDistribution.Value.ToString("N0")</MudChip>
                        }
                    }
                    else if (context.MetaverseAttribute?.Type == AttributeDataType.DateTime && (context.MinDate.HasValue || context.MaxDate.HasValue))
                    {
                        if (context.MinDate.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Min:</b>&nbsp;@context.MinDate.Value.ToShortDateString()</MudChip>
                        }

                        if (context.MaxDate.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Min:</b>&nbsp;@context.MaxDate.Value.ToShortDateString()</MudChip>
                        }
                    }
                    else if (context.MetaverseAttribute?.Type == AttributeDataType.Reference)
                    {
                        if (context.MvaRefMinAssignments.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>MVA min assignments:</b>&nbsp;@context.MvaRefMinAssignments.Value.ToString("N0")</MudChip>
                        }

                        if (context.MvaRefMaxAssignments.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>MVA max assignments:</b>&nbsp;@context.MvaRefMaxAssignments.Value.ToString("N0")</MudChip>
                        }

                        if (context.ReferenceMetaverseObjectTypes is { Count: > 0 })
                        {
                            var refTypes = context.ReferenceMetaverseObjectTypes.Aggregate("", (current, refType) => current + (refType.Name + ", "));
                            if (refTypes.EndsWith(", "))
                                refTypes = refTypes.Substring(0, refTypes.Length - 2);

                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Reference type(s):</b>&nbsp;@refTypes</MudChip>
                        }

                        if (context.ManagerDepthPercentage.HasValue)
                        {
                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Text"><b>Manager depth:</b>&nbsp;@(context.ManagerDepthPercentage + "%")</MudChip>
                        }
                    }
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                No template attributes
            </NoRecordsContent>
        </MudTable>
    }

    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
    <MudText Typo="Typo.h6">Warning</MudText>
    <MudText>
        Executing this template will cause example data to be inserted into the Metaverse. It's not recommended to do this on a system with Connectors and that is already initialised.
        This feature is primarily designed to enable demo or proof of concept work. There is no easy way to undo this once performed.
    </MudText>
    <MudButton Class="mt-5"
               Variant="Variant.Filled"
               StartIcon="@Icons.Material.Filled.BuildCircle"
               Color="Color.Warning"
               Disabled="@(_status != null || _isExecuting)"
               OnClick="ExecuteTemplateAsync"
               DropShadow="false">
        @if (_status is WorkerTaskStatus.Processing)
        {
            <text>Processing...</text>
        }
        else if (_status is WorkerTaskStatus.Queued)
        {
            <text>Queued...</text>
        }
        else
        {
            <text>Execute Template</text>
        }
    </MudButton>
    </MudAlert>
        </MudTabPanel>

        <MudTabPanel Text="Changes" BadgeData="@(_changeCount > 0 ? _changeCount.ToString("N0") : null)" BadgeColor="Color.Primary">
            <ConfigurationChangesTab TargetType="ActivityTargetType.ExampleDataTemplate" ObjectId="@_template.Id" ObjectTypeLabel="Example Data Template" />
        </MudTabPanel>

    </NavigableMudTabs>
}

@code {
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    private ExampleDataTemplate? _template;
    private ExampleDataTemplateWorkerTask? _task;
    private WorkerTaskStatus? _status;
    private bool _isExecuting;
    private List<BreadcrumbItem> _breadcrumbs = null!;
    private int _changeCount;
    private Timer? _statusPollTimer;
    private readonly SemaphoreSlim _refreshLock = new(1, 1);

    protected override async Task OnInitializedAsync()
    {
        using var jim = JimFactory.Create();
        _template = await jim.ExampleData.GetTemplateAsync(Id);
        if (_template == null)
        {
            // template not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }

        _breadcrumbs = new List<BreadcrumbItem>
        {
            new("Home", href: "/", icon: Icons.Material.Filled.Home),
            new("Administration", href: "/admin"),
            new("Example Data", href: "/admin/example-data/"),
            new(_template.Name, href: null, disabled: true)
        };

        _changeCount = (await jim.ChangeHistory.GetConfigurationChangeHistoryAsync(ActivityTargetType.ExampleDataTemplate, _template.Id, 1, 1)).TotalResults;

        // Has this template already been scheduled, or is it already being processed on the service queue?
        // Event-driven refresh (issue #307): a Worker Task change notification triggers an immediate
        // status refresh; the timer is the polling fallback, re-armed each cycle at 2 seconds while
        // real-time notifications are unavailable or 30 seconds (a reconciliation safety net) while they
        // are flowing.
        UiNotifications.WorkerTaskChanged += OnWorkerTaskChanged;
        UiNotifications.RealTimeAvailabilityChanged += OnRealTimeAvailabilityChanged;
        await RefreshWorkerTaskStatusAsync();
        _statusPollTimer = new Timer(async _ => await OnStatusPollTimerElapsedAsync(), null, GetPollingInterval(), Timeout.InfiniteTimeSpan);
    }

    public void Dispose()
    {
        UiNotifications.WorkerTaskChanged -= OnWorkerTaskChanged;
        UiNotifications.RealTimeAvailabilityChanged -= OnRealTimeAvailabilityChanged;
        _statusPollTimer?.Dispose();
        _statusPollTimer = null;
    }

    private TimeSpan GetPollingInterval()
    {
        return UiNotifications.IsRealTimeAvailable ? TimeSpan.FromSeconds(30) : TimeSpan.FromSeconds(2);
    }

    private async Task OnStatusPollTimerElapsedAsync()
    {
        try
        {
            await RefreshWorkerTaskStatusAsync();
        }
        catch (Exception ex) when (ex is not OperationCanceledException)
        {
            // Transient refresh failures are recoverable; the next timer cycle retries
        }
        finally
        {
            // Re-arm the one-shot timer with the interval for the current real-time availability
            try
            {
                _statusPollTimer?.Change(GetPollingInterval(), Timeout.InfiniteTimeSpan);
            }
            catch (ObjectDisposedException)
            {
                // The component was disposed while this callback was running; nothing to re-arm
            }
        }
    }

    private void OnWorkerTaskChanged(WorkerTaskChangeNotification notification) => TriggerNotificationRefresh();

    // On reconnection, refresh immediately to reconcile anything missed while real-time was unavailable.
    private void OnRealTimeAvailabilityChanged(bool available) => TriggerNotificationRefresh();

    /// <summary>
    /// Runs a status refresh in response to a notification. Event handlers run off the sync context and
    /// must never throw into the notification relay, so failures are swallowed; the timer fallback retries.
    /// </summary>
    private void TriggerNotificationRefresh()
    {
        _ = Task.Run(async () =>
        {
            try
            {
                await RefreshWorkerTaskStatusAsync();
            }
            catch (Exception ex) when (ex is not OperationCanceledException)
            {
                // Transient refresh failures are recoverable; the timer fallback covers the gap
            }
        });
    }

    /// <summary>
    /// Fetches the current Worker Task status for this template and re-renders only when it changed.
    /// Serves both the timer fallback and event-driven refreshes; overlapping invocations are skipped
    /// via a non-blocking semaphore.
    /// </summary>
    private async Task RefreshWorkerTaskStatusAsync()
    {
        if (_template == null)
            return;

        if (!await _refreshLock.WaitAsync(0))
            return;

        try
        {
            using var refreshJim = JimFactory.Create();
            var newStatus = await refreshJim.Tasking.GetFirstExampleDataTemplateWorkerTaskStatus(_template.Id);
            var stateHasChanged = newStatus != _status;
            _status = newStatus;

            // Reset the executing flag when the task completes (status becomes null)
            if (newStatus == null && _isExecuting)
            {
                _isExecuting = false;
                stateHasChanged = true;
            }

            if (stateHasChanged)
                await InvokeAsync(StateHasChanged);
        }
        finally
        {
            _refreshLock.Release();
        }
    }

    private async Task ExecuteTemplateAsync()
    {
        if (_template == null || _isExecuting)
            return;

        // Immediately disable the button to prevent double-clicks
        _isExecuting = true;

        // attribute the execution to the user
        using var jim = JimFactory.Create();
        var user = await Helpers.GetUserAsync(jim, AuthenticationStateTask);
        _task = ExampleDataTemplateWorkerTask.ForUser(_template.Id, user.Id, user.DisplayName ?? "Unknown User");
        var result = await jim.Tasking.CreateWorkerTaskAsync(_task);

        if (!result.Success)
        {
            _isExecuting = false;
            // Error would be shown elsewhere, but this task type shouldn't have validation errors
            return;
        }

        // Set status to queued immediately so UI reflects the state
        _status = WorkerTaskStatus.Queued;
    }
}