@page "/admin/predefined-searches/{Uri}"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.DataGeneration
@using JIM.Models.Core
@using JIM.Models.Tasking
@using System.Diagnostics
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>Predefined Search: @predefinedSearch?.Name</PageTitle>
<MudText Typo="Typo.h4" Class="mt-3"><span class="mud-secondary-text">Predefined Search:</span> @predefinedSearch?.Name</MudText>

@if (predefinedSearch != null)
{
    <MudText Typo="Typo.h5" Class="mt-5">Details</MudText>
    <MudPaper Class="pa-5 mt-5" Outlined="true">
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Name" Variant="Variant.Outlined">@predefinedSearch.Name</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Uri" Variant="Variant.Outlined">@predefinedSearch.Uri</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Object Type" Variant="Variant.Outlined">@predefinedSearch.MetaverseObjectType.Name</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Is default for Object Type?" Variant="Variant.Outlined">@(predefinedSearch.IsDefaultForMetaverseObjectType ? "Yes" : "No")</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Built-in?" Variant="Variant.Outlined">@(predefinedSearch.BuiltIn ? "Yes" : "No")</MudField>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudText Typo="Typo.h5" Class="mt-5">Metaverse Attributes</MudText>
    <MudText Typo="Typo.subtitle1">These will be the attributes shown in the search results:</MudText>

    <MudPaper Class="pa-5 mt-5" Outlined="true">
        @foreach (var psa in predefinedSearch.Attributes)
        {
            <MudChip Color="Color.Primary">@psa.MetaverseAttribute.Name</MudChip>
        }
    </MudPaper>

    @if (predefinedSearch.CriteriaGroups.Count > 0)
    {
        <MudText Typo="Typo.h5" Class="mt-5">Criteria</MudText>
        <MudText Typo="Typo.subtitle1">This search has criteria to filter the results:</MudText>

        <MudStack Class="mt-5">
            @foreach (var criteriaGroup in predefinedSearch.CriteriaGroups)
            {
                <MudPaper Class="pa-5" Outlined="true">
                    <MudText Typo="Typo.subtitle1">Type: @criteriaGroup.Type</MudText>
                    <br />
                    @foreach (var criteria in criteriaGroup.Criteria)
                    {
                        <MudChip Color="Color.Primary">@criteria.MetaverseAttribute.Name</MudChip>
                        <MudChip Color="Color.Default">@criteria.ComparisonType</MudChip>
                        <MudChip Color="Color.Primary">@criteria.StringValue</MudChip>
                    }
                </MudPaper>
            }
        </MudStack>
    }
}

@code {
    [Parameter]
    public string? Uri { get; set; }

    private JIM.Models.Search.PredefinedSearch? predefinedSearch;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Uri))
        {
            // no predefined search parameter passed in, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }

        predefinedSearch = await Jim.Search.GetPredefinedSearchAsync(Uri);
        if (predefinedSearch == null)
        {
            // predefined search not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }
    }
}
