@page "/admin/predefined-searches/{Uri}"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.DataGeneration
@using JIM.Models.Core
@using JIM.Models.Tasking
@using System.Diagnostics
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>Predefined Search: @predefinedSearch?.Name</PageTitle>
<h1><span class="text-muted">Predefined Search:</span> @predefinedSearch?.Name</h1>

@if (predefinedSearch != null)
{
    <div class="box">
        <table>
            <tr>
                <td class="light pe-3">Name:</td>
                <td><span class="font-monospace">@predefinedSearch.Name</span></td>
            </tr>
            <tr>
                <td class="light pe-3">Uri:</td>
                <td><span class="font-monospace">@predefinedSearch.Uri</span></td>
            </tr>
            <tr>
                <td class="light pe-3">Object Type</td>
                <td><span class="font-monospace">@predefinedSearch.MetaverseObjectType.Name</span></td>
            </tr>
            <tr>
                <td class="light pe-3">Is default for Object Type?</td>
                <td><span class="font-monospace">@(predefinedSearch.IsDefaultForMetaverseObjectType ? "Yes" : "No")</span></td>
            </tr>
            <tr>
                <td class="light pe-3">Built-in?</td>
                <td><span class="font-monospace">@(predefinedSearch.BuiltIn ? "Yes" : "No")</span></td>
            </tr>
        </table>
    </div>

    <div class="box mt-3">
        <h6>Metaverse Attributes</h6>
        <div class="light mb-3">These will be the attributes shown in the search results.</div>
        @foreach (var psa in predefinedSearch.Attributes)
        {
            <span class="badge badge-outline badge-bigger bg-light text-dark">@psa.MetaverseAttribute.Name</span>
        }
    </div>

    @if (predefinedSearch.CriteriaGroups.Count > 0)
    {
        <div class="box mt-3">
            <h6>Criteria</h6>
            <div class="light mb-3">This search has criteria to filter the results down:</div>
            @foreach (var criteriaGroup in predefinedSearch.CriteriaGroups)
            {
                <div class="callout callout-primary">
                    <div class="light">
                        Type: @criteriaGroup.Type
                    </div>
                    @foreach (var criteria in criteriaGroup.Criteria)
                    {
                        <div class="mt-3">
                            <span class="badge badge-outline badge-bigger bg-light text-dark">@criteria.MetaverseAttribute.Name</span>
                            <span class="badge badge-outline badge-bigger bg-light text-dark">@criteria.ComparisonType</span>
                            <span class="badge badge-outline badge-bigger bg-light text-dark">@criteria.StringValue</span>
                        </div>
                    }
                </div>
            }
        </div>
    }
}

@code {
    [Parameter]
    public string Uri { get; set; }

    private JIM.Models.Search.PredefinedSearch? predefinedSearch;

    protected override async Task OnInitializedAsync()
    {
        predefinedSearch = await Jim.Search.GetPredefinedSearchAsync(Uri);
        if (predefinedSearch == null)
        {
            // predefined search not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }
    }
}