@page "/admin/predefined-searches"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Search.Dto
@inject JimApplication Jim

<PageTitle>Predefined Searches</PageTitle>

<MudText Typo="Typo.h4" Class="mt-5">Predefined Searches</MudText>
<MudText Typo="Typo.subtitle1">Predefined Searches make it easy to find objects and control what attributes are returned.</MudText>

<MudSimpleTable Style="overflow-x: auto;" Hover="true" Bordered="false" Striped="false" Class="mt-5">
    <thead>
        <tr>
            <th>Name</th>
            <th>Uri</th>
            <th>Object Type</th>
            <th>Default?</th>
            <th>Built-in?</th>
            <th>Attributes</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @if (predefinedSearchHeaders != null)
        {
            foreach (var predefinedSearchHeader in predefinedSearchHeaders)
            {
                <tr>
                    <td><MudLink Href="@("/admin/predefined-searches/"+predefinedSearchHeader.Uri)">@predefinedSearchHeader.Name</MudLink></td>
                    <td>@predefinedSearchHeader.Uri</td>
                    <td>@predefinedSearchHeader.MetaverseObjectTypeName</td>
                    <td>@(predefinedSearchHeader.IsDefaultForMetaverseObjectType ? "Yes" : "No")</td>
                    <td>@(predefinedSearchHeader.BuiltIn ? "Yes" : "No")</td>
                    <td>@predefinedSearchHeader.MetaverseAttributeCount</td>
                    <td>@predefinedSearchHeader.Created</td>
                </tr>
            }
        }
    </tbody>
</MudSimpleTable>

@code {
    private IList<PredefinedSearchHeader>? predefinedSearchHeaders;

    protected override async Task OnInitializedAsync()
    {
        predefinedSearchHeaders = await Jim.Search.GetPredefinedSearchHeadersAsync();
    }
}
