@page "/admin/schema"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@using JIM.Models.Core.DTOs
@inject JimApplication Jim

<PageTitle>Schema: Object Types</PageTitle>
<MudText Typo="Typo.h4" Class="mt-5"><span class="mud-secondary-text">Schema:</span> Object Types</MudText>
<MudText Typo="Typo.subtitle1">Manage metaverse object types and their attributes.</MudText>

<br />
<MudButton Variant="Variant.Filled" Href="/admin/schema" Disabled="true" Size="Size.Small" Color="Color.Primary">Object Types</MudButton>
<MudButton Variant="Variant.Filled" Href="/admin/schema/attributes" Size="Size.Small" Color="Color.Primary" DisableElevation="true">Attributes</MudButton>

<MudTable Items="@metaverseObjectTypeHeaders" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" Class="mt-5" SortLabel="Sort By" Outlined="true" Elevation="0">
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.Name)">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.AttributesCount)">Attributes</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.HasPredefinedSearches)">Has Predefined Searches?</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.BuiltIn)">Built-in?</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<MetaverseObjectTypeHeader, object>(x => x.Created)">Created</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name"><MudLink Href="@("/admin/schema/object-types/"+context.Id)">@context.Name</MudLink></MudTd>
        <MudTd DataLabel="Attributes">@context.AttributesCount</MudTd>
        <MudTd DataLabel="Has Predefined Searches?">@(context.HasPredefinedSearches ? "Yes" : "No")</MudTd>
        <MudTd DataLabel="Built-in?">@(context.BuiltIn ? "Yes" : "No")</MudTd>
        <MudTd DataLabel="Created">@context.Created</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private IList<MetaverseObjectTypeHeader>? metaverseObjectTypeHeaders;

    protected override async Task OnInitializedAsync()
    {
        metaverseObjectTypeHeaders = await Jim.Metaverse.GetMetaverseObjectTypeHeadersAsync();
    }
}